<!--
<mat-card cdkDrag style="width: 50%">Astyra Corporation<br><small>James Rives</small></mat-card>
<mat-card cdkDrag style="width: 50%">Vaco Technology<br><small>Matt Davidson</small></mat-card>
<mat-card cdkDrag style="width: 50%">Recruiting Concepts<br><small>Gaelen Kash</small></mat-card>
<mat-card cdkDrag style="width: 50%">TECHEAD<br><small>Kim Oliver</small></mat-card>
<mat-card cdkDrag style="width: 50%">Morton Consulting</mat-card>
<mat-card cdkDrag style="width: 50%">Slate Consulting</mat-card>
<mat-card cdkDrag style="width: 50%">Farnheight Huh?</mat-card>
<mat-card cdkDrag style="width: 50%">Profiles</mat-card>
<mat-card cdkDrag style="width: 50%">Collebra</mat-card>
<mat-card cdkDrag style="width: 50%">Authentic Digital Agency</mat-card>
<mat-card cdkDrag style="width: 50%">Hays Consulting</mat-card>
-->

<div class="view-container grey-bg">
	<mat-form-field class="p-0 px-4 full-width">
		<input type="text" matInput placeholder="Search">
	</mat-form-field>

	<mat-accordion>

		<!-- Expansion 1 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Astyra Corporation
				</mat-panel-title>
				<mat-panel-description>
					James Rives
				</mat-panel-description>
			</mat-expansion-panel-header>

			<div>
				<small>Last Contact: 1/24/19 via Linkedin</small>
			</div>
		</mat-expansion-panel>

		<!-- Expansion 2 -->
		<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Vaco Technology
				</mat-panel-title>
				<mat-panel-description>
					Matt Davidson
				</mat-panel-description>
			</mat-expansion-panel-header>
		</mat-expansion-panel>

		<!-- Expansion 3 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Recruiting Concepts
				</mat-panel-title>
				<mat-panel-description>
					Gaelen Kash
				</mat-panel-description>
			</mat-expansion-panel-header>

			<div>
				<small>Last Contact: 1/24/19 via Linkedin</small>
			</div>
		</mat-expansion-panel>

		<!-- Expansion 4 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					TECHEAD
				</mat-panel-title>
				<mat-panel-description>
					Kim Oliver
				</mat-panel-description>
			</mat-expansion-panel-header>

			<div>
				<small>Last Contact: 1/24/19 via Linkedin</small>
			</div>
		</mat-expansion-panel>

		<!-- Expansion 4 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Morton Consulting
				</mat-panel-title>
				<mat-panel-description>
					-
				</mat-panel-description>
			</mat-expansion-panel-header>

			<div>
				<small>Last Contact: 1/24/19 via Linkedin</small>
			</div>
		</mat-expansion-panel>

		<!-- Expansion 5 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Slate Consulting
				</mat-panel-title>
				<mat-panel-description>
					-
				</mat-panel-description>
			</mat-expansion-panel-header>

			<div>
				<small>Last Contact: 1/24/19 via Linkedin</small>
			</div>
		</mat-expansion-panel>

		<!-- Expansion 6 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Farnheight IT
				</mat-panel-title>
				<mat-panel-description>
					-
				</mat-panel-description>
			</mat-expansion-panel-header>

			<div>
				<small>Last Contact: 1/24/19 via Linkedin</small>
			</div>
		</mat-expansion-panel>

		<!-- Expansion 7 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Profiles
				</mat-panel-title>
				<mat-panel-description>
					-
				</mat-panel-description>
			</mat-expansion-panel-header>

			<div>
				<small>Last Contact: 1/24/19 via Linkedin</small>
			</div>
		</mat-expansion-panel>

		<!-- Expansion 8 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Collebra
				</mat-panel-title>
				<mat-panel-description>
					-
				</mat-panel-description>
			</mat-expansion-panel-header>

			<div>
				<small>Last Contact: 1/24/19 via Linkedin</small>
			</div>
		</mat-expansion-panel>

		<!-- Expansion 9 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Authentic Digital Agency
				</mat-panel-title>
				<mat-panel-description>
					-
				</mat-panel-description>
			</mat-expansion-panel-header>

			<div>
				<small>Last Contact: 1/24/19 via Linkedin</small>
			</div>
		</mat-expansion-panel>

		<!-- Expansion 10 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Hays Consulting
				</mat-panel-title>
				<mat-panel-description>
					-
				</mat-panel-description>
			</mat-expansion-panel-header>

			<div>
				<small>Last Contact: 1/24/19 via Linkedin</small>
			</div>
		</mat-expansion-panel>

		<!-- Expansion 11 -->
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Robert Half
				</mat-panel-title>
				<mat-panel-description>
					-
				</mat-panel-description>
			</mat-expansion-panel-header>

			<div>
				<small>Last Contact: 1/24/19 via Linkedin</small>
			</div>
		</mat-expansion-panel>

	</mat-accordion>
</div>