<!--
<mat-card cdkDrag style="width: 50%">Astyra Corporation<br><small>James Rives</small></mat-card>
<mat-card cdkDrag style="width: 50%">Vaco Technology<br><small>Matt Davidson</small></mat-card>
<mat-card cdkDrag style="width: 50%">Recruiting Concepts<br><small>Gaelen Kash</small></mat-card>
<mat-card cdkDrag style="width: 50%">TECHEAD<br><small>Kim Oliver</small></mat-card>
<mat-card cdkDrag style="width: 50%">Morton Consulting</mat-card>
<mat-card cdkDrag style="width: 50%">Slate Consulting</mat-card>
<mat-card cdkDrag style="width: 50%">Farnheight Huh?</mat-card>
<mat-card cdkDrag style="width: 50%">Profiles</mat-card>
<mat-card cdkDrag style="width: 50%">Collebra</mat-card>
<mat-card cdkDrag style="width: 50%">Authentic Digital Agency</mat-card>
<mat-card cdkDrag style="width: 50%">Hays Consulting</mat-card>
-->
<mat-form-field class="p-0 px-4 full-width">
	<input type="text" matInput placeholder="Search">
</mat-form-field>
<mat-list>
	
	<mat-list-item>
		<div matLine>Astyra Corporation</div>
		<small matLine>James Rives</small>
		<mat-divider></mat-divider>
	</mat-list-item>

	<mat-list-item>
		<div matLine>Vaco Technology</div>
		<small matLine>Matt Davidson</small>
		<mat-divider></mat-divider>
	</mat-list-item>

	<mat-list-item>
		<div matLine>Recruiting Concepts</div>
		<small matLine>Gaelen Kash</small>
		<mat-divider></mat-divider>
	</mat-list-item>

	<mat-list-item>
		<div matLine>TECHEAD</div>
		<small matLine>Kim Oliver</small>
		<mat-divider></mat-divider>
	</mat-list-item>

	<mat-list-item>
		<div matLine>Morton Consulting</div>
		<small matLine>-</small>
		<mat-divider></mat-divider>
	</mat-list-item>

	<mat-list-item>
		<div matLine>Slate Consulting</div>
		<small matLine>-</small>
		<mat-divider></mat-divider>
	</mat-list-item>

	<mat-list-item>
		<div matLine>Farnheight IT</div>
		<small matLine>-</small>
		<mat-divider></mat-divider>
	</mat-list-item>

	<mat-list-item>
		<div matLine>Profiles</div>
		<small matLine>-</small>
		<mat-divider></mat-divider>
	</mat-list-item>

	<mat-list-item>
		<div matLine>Collebra</div>
		<small matLine>-</small>
		<mat-divider></mat-divider>
	</mat-list-item>

	<mat-list-item>
		<div matLine>Authentic Digital Agency</div>
		<small matLine>-</small>
		<mat-divider></mat-divider>
	</mat-list-item>

	<mat-list-item>
		<div matLine>Hays Consulting</div>
		<small matLine>-</small>
		<mat-divider></mat-divider>
	</mat-list-item>

	<mat-list-item>
		<div matLine>Robert Half</div>
		<small matLine>-</small>
		<mat-divider></mat-divider>
	</mat-list-item>

</mat-list>