<h3 class="list-heading-text">Connections</h3>
<ul class="individual-item-list">

	<!-- Auth -->
	<li>
		<vaadin-item>
			<div class="status-item">
				<div class="circular-status-orb" [ngClass]="{'green': userIsLoggedIn, 'red': !userIsLoggedIn }"></div>
				<div>
					<div><strong>Google Authentication</strong></div>
					<div><small>{{user.name}}</small></div>
				</div>
			</div>
		</vaadin-item>
		<hr class="collapsed-hr">
	</li>

	<!-- Heroku -->
	<li>
		<vaadin-item>
			<div class="status-item">
				<div class="circular-status-orb" [ngClass]="{'green': isConnectedToHeroku, 'red': !isConnectedToHeroku }"></div>
				<div>
					<div><strong>Heroku API</strong></div>
					<div><small>{{herokuAppName || 'Unable to Connect'}}</small></div>
					<!-- <div><a href="https://dashboard.heroku.com/apps/cryptic-wildwood-23826" target="_blank">Visit</a></div> -->
				</div>
			</div>
		</vaadin-item>
		<hr class="collapsed-hr">
	</li>

	<!-- Mongo -->
	<li>
		<vaadin-item>
			<div class="status-item">
				<div class="circular-status-orb" [ngClass]="{'green': isConnectedToMongo, 'red': !isConnectedToMongo }"></div>
				<div>
					<div><strong>MongoLab DB</strong></div>
					<div><small>{{mongoDbName || 'Unable to Connect'}}</small></div>
					<!-- <div><a href="https://www.mlab.com/databases/heroku_2wcz3vxw" target="_blank">Visit</a></div> -->
				</div>
			</div>
		</vaadin-item>
		<hr class="collapsed-hr">
	</li>

</ul>

<h3 class="list-heading-text">Login Frequency</h3>
<ul class="individual-item-list">
	<li>
		<vaadin-item>
			<div class="status-item">
				<ul class="login-frequency-block-chart-list">
					<li class="individual-block"
							*ngFor="let singleDay of loginFrequencyDates"
							[ngClass]="{'low': (singleDay.count > 0), 'medium': singleDay.count >= 2, 'high': singleDay.count > 6 }"
							matTooltip="{{singleDay.count}} Logins"
							matTooltipPosition="above">
						</li>
				</ul>
			</div>
		</vaadin-item>
	</li>
</ul>