<div class="app-date-traversal">

  <!-- Previous Button -->
  <button class="app-date-traversal--button app-date-traversal--button-left">
    <iron-icon icon="lumo:angle-left"></iron-icon>
  </button>

  <!-- Context (Day, Month, Year) -->
  <div class="app-date-traversal--context">

    
    <h2 class="app-date-traversal--primary-text">December</h2>
    <small class="app-date-traversal--secondary-text">2018</small>
   

    <!--     
    <h2 class="app-date-traversal--primary-text">Tuesday</h2>
    <small class="app-date-traversal--secondary-text">December 24, 2018</small>
    -->

    <!--         
    <h2 class="app-date-traversal--primary-text">2018</h2>
    <small class="app-date-traversal--secondary-text"></small>
    -->

  </div>

  <!-- Next Button -->
  <button class="app-date-traversal--button app-date-traversal--button-right">
    <iron-icon icon="lumo:angle-right"></iron-icon>
  </button>

</div>
