
<h3 class="group-heading">Credit Cards</h3>
<mat-list class="credit-card-list">

  <mat-list-item class="credit-card-list-item">
    <div class="credit-card-icon citi"></div>
    <h3 class="credit-card-name list-name">Citi</h3>
  </mat-list-item>

  <mat-list-item class="credit-card-list-item">
    <div class="credit-card-icon usaa"></div>
    <h3 class="credit-card-name list-name">USAA</h3>
  </mat-list-item>

  <mat-list-item class="credit-card-list-item">
    <div class="credit-card-icon capital-one"></div>
    <h3 class="credit-card-name list-name">Capital One</h3>
  </mat-list-item>

  <mat-list-item class="credit-card-list-item">
    <div class="credit-card-icon banana-republic"></div>
    <h3 class="credit-card-name list-name">Banana Republic</h3>
  </mat-list-item>

  <mat-list-item class="credit-card-list-item">
    <div class="credit-card-icon home-depot"></div>
    <h3 class="credit-card-name list-name">Home Depot</h3>
  </mat-list-item>

  <hr>
</mat-list>