
<h1>Monthly</h1>
<small>Fixed</small>
<mat-list>

  <mat-list-item class="payment-list-item">
    <div class="payment-icon"></div>
    <h3 class="payment-type-name list-name">Mortgage Payment</h3>
  </mat-list-item>

  <mat-list-item class="payment-list-item">
    <div class="payment-icon"></div>
    <h3 class="payment-type-name list-name">Internet + TV</h3>
  </mat-list-item>

  <mat-list-item class="payment-list-item">
    <div class="payment-icon netflix"></div>
    <h3 class="payment-type-name list-name">Netflix</h3>
  </mat-list-item>

  <mat-list-item class="payment-list-item">
    <div class="payment-icon"></div>
    <h3 class="payment-type-name list-name">Spotify</h3>
  </mat-list-item>

  <mat-list-item class="payment-list-item">
    <div class="payment-icon"></div>
    <h3 class="payment-type-name list-name">Amazon Prime</h3>
  </mat-list-item>

  <mat-list-item class="payment-list-item">
    <div class="payment-icon"></div>
    <h3 class="payment-type-name list-name">Car Insurance</h3>
  </mat-list-item>

</mat-list>

<h2>Variable</h2>
<mat-list>
  <mat-list-item> Water + Sewege Service</mat-list-item>
  <mat-list-item> Electricity Service </mat-list-item>
  <hr>
</mat-list>

<h2>Credit Cards</h2>
<mat-list class="credit-card-list">

  <mat-list-item class="credit-card-list-item">
    <div class="credit-card-icon citi"></div>
    <h3 class="credit-card-name list-name">Citi</h3>
  </mat-list-item>

  <mat-list-item class="credit-card-list-item">
    <div class="credit-card-icon usaa"></div>
    <h3 class="credit-card-name list-name">USAA</h3>
  </mat-list-item>

  <mat-list-item class="credit-card-list-item">
    <div class="credit-card-icon capital-one"></div>
    <h3 class="credit-card-name list-name">Capital One</h3>
  </mat-list-item>

  <mat-list-item class="credit-card-list-item">
    <div class="credit-card-icon banana-republic"></div>
    <h3 class="credit-card-name list-name">Banana Republic</h3>
  </mat-list-item>

  <mat-list-item class="credit-card-list-item">
    <div class="credit-card-icon home-depot"></div>
    <h3 class="credit-card-name list-name">Home Depot</h3>
  </mat-list-item>

  <hr>
</mat-list>

<h1>Annually</h1>
<mat-list>
  <mat-list-item> Bluehost </mat-list-item>
  <mat-list-item> Car Registration </mat-list-item>
  <mat-list-item> Property Taxes </mat-list-item>
 </mat-list>