
<h2 class="group-heading">Monthly</h2>
<!-- <small>Fixed</small> -->
<mat-list>

  <!-- Mortgage Payment -->
  <mat-list-item class="payment-list-item">
    <div class="payment-icon mortgage"></div>
    <div class="payment-info">
      <h3 class="payment-type-name list-name">Mortgage Payment</h3>
      <small class="payment-due-date">Day of Payment: 10th</small>
    </div>
    <div class="payment-amount">$1104.97</div>
  </mat-list-item>

  <!-- TV + Internet -->
  <mat-list-item class="payment-list-item">
    <div class="payment-icon xfinity"></div>
    <div class="payment-info">
      <h3 class="payment-type-name list-name">Internet + TV</h3>
      <small class="payment-due-date">Day of Payment: 10th</small>
    </div>
    <div class="payment-amount">$88.04</div>
  </mat-list-item>

  <!-- Netflick -->
  <mat-list-item class="payment-list-item">
    <div class="payment-icon netflix"></div>
    <div class="payment-info">
      <h3 class="payment-type-name list-name">Netflix</h3>
      <small class="payment-due-date">Day of Payment: 10th</small>
    </div>
    <div class="payment-amount">$7.99</div>
  </mat-list-item>

  <!-- Spotify -->
  <mat-list-item class="payment-list-item">
    <div class="payment-icon spotify"></div>
    <div class="payment-info">
      <h3 class="payment-type-name list-name">Spotify</h3>
      <small class="payment-due-date">Day of Payment: 10th</small>
    </div>
    <div class="payment-amount">$9.99</div>
  </mat-list-item>

  <!-- Amazon Prime -->
  <mat-list-item class="payment-list-item">
    <div class="payment-icon amazon-prime"></div>
    <div class="payment-info">
      <h3 class="payment-type-name list-name">Amazon Prime</h3>
      <small class="payment-due-date">Day of Payment: 10th</small>
    </div>
    <div class="payment-amount">$7.99</div>
  </mat-list-item>

  <!-- Car Insurance -->
  <mat-list-item class="payment-list-item">
    <div class="payment-icon erie"></div>
    <div class="payment-info">
      <h3 class="payment-type-name list-name">Car Insurance</h3>
      <small class="payment-due-date">Day of Payment: 10th</small>
    </div>
    <div class="payment-amount">$158.44</div>
  </mat-list-item>

</mat-list>
<hr>

<h3 class="group-heading">Variable</h3>
<mat-list>

	<!-- Water -->
  <mat-list-item class="payment-list-item">
		<div class="payment-icon"></div>
		<div class="payment-info">
			<h3 class="payment-type-name list-name">Water + Sewage Service</h3>
			<small class="payment-due-date">Due Day: 28th</small>
		</div>
		<div class="payment-amount">$0</div>
	</mat-list-item>

	<!-- Electricity -->
  <mat-list-item class="payment-list-item">
		<div class="payment-icon"></div>
		<div class="payment-info">
			<h3 class="payment-type-name list-name">Electricity Service</h3>
			<small class="payment-due-date">Due Day: 28th</small>
		</div>
		<div class="payment-amount">$0</div>
	</mat-list-item>
	<hr>
	
</mat-list>


<h2 class="group-heading">Annually</h2>
<mat-list>

	<!-- Electricity -->
  <mat-list-item class="payment-list-item">
		<div class="payment-icon"></div>
		<div class="payment-info">
			<h3 class="payment-type-name list-name">Bluehost</h3>
			<small class="payment-due-date">--</small>
		</div>
		<div class="payment-amount">$0</div>
	</mat-list-item>

	<!-- Car Registration -->
  <mat-list-item class="payment-list-item">
		<div class="payment-icon"></div>
		<div class="payment-info">
			<h3 class="payment-type-name list-name">Car Registration</h3>
			<small class="payment-due-date">--</small>
		</div>
		<div class="payment-amount">$0</div>
	</mat-list-item>

	<!-- Property Taxes -->
	<mat-list-item class="payment-list-item">
		<div class="payment-icon"></div>
		<div class="payment-info">
			<h3 class="payment-type-name list-name">Property Taxes</h3>
			<small class="payment-due-date">--</small>
		</div>
		<div class="payment-amount">$0</div>
	</mat-list-item>

	<hr>

</mat-list>