
<app-app-header></app-app-header>
<app-date-traversal></app-date-traversal>

<!---
<br>
<br>

<span theme="badge">Normal</span>
<span theme="badge success">Success</span>
<span theme="badge error">Error</span>
<span theme="badge contrast">Contrast</span>

<span theme="badge">1</span>
<span theme="badge success">2</span>
<span theme="badge error">12</span>
<span theme="badge contrast">99+</span>

<iron-icon icon="lumo:angle-down"></iron-icon>

<div class="icon-user-female"></div>
-->
<router-outlet></router-outlet>
