
* {
	box-sizing: border-box;
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}























mat-list-item { min-height: 60px !important; }
mat-list { margin: 0; }
.group-heading { font-size: 1rem; margin: 1rem .25rem 0 .75rem; }
.payment-list-item, .credit-card-list-item {
  display: flex;
  align-items: center;
}

.payment-icon {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #ccc;
  background-position: center top;
  border-radius: 10rem;
  margin: 0 1rem 0 0;
}

.payment-icon.mortgage { background-image: url("../assets/images/payments-mortgage.png") }
.payment-icon.netflix { background-image: url("../assets/images/2000px-Netflix_icon.svg.png") }
.payment-icon.erie { background-image: url("../assets/images/payments-erie.jpeg") }
.payment-icon.amazon-prime { background-image: url("../assets/images/payments-amazon-prime.png"); }
.payment-icon.spotify { background-image: url("../assets/images/payments-spotify.png"); }
.payment-icon.xfinity { background-image: url("../assets/images/payments-xfinity.png"); }

.list-name {
  font-size: 1rem;
  margin: 0;
  color: #444;
  font-weight: normal;
}

.payment-due-date {
  color: #666;
  display: block;
  font-size: .75rem;
}

.payment-amount {
  margin: 0;
  color: #dd4242;
}

.payment-info {
  flex-grow: 1;
}