<div *ngIf="viewIsLoading">Loading...</div>

<!-- Statuses -->
<div>

  <mat-card cdkDrag style="width: 50%">Astyra Corporation<br><small>James Rives</small></mat-card>
  <mat-card cdkDrag style="width: 50%">Vaco Technology<br><small>Matt Davidson</small></mat-card>
  <mat-card cdkDrag style="width: 50%">Recruiting Concepts<br><small>Gaelen Kash</small></mat-card>
  <mat-card cdkDrag style="width: 50%">TECHEAD<br><small>Kim Oliver</small></mat-card>
  <mat-card cdkDrag style="width: 50%">Morton Consulting</mat-card>
  <mat-card cdkDrag style="width: 50%">Slate Consulting</mat-card>
  <mat-card cdkDrag style="width: 50%">Farnheight Huh?</mat-card>
  <mat-card cdkDrag style="width: 50%">Profiles</mat-card>
  <mat-card cdkDrag style="width: 50%">Collebra</mat-card>
  <mat-card cdkDrag style="width: 50%">Authentic Digital Agency</mat-card>
  <mat-card cdkDrag style="width: 50%">Hays Consulting</mat-card>

  <ul class="side-by-side-list">

    <!-- Loading Status -->
    <li>
      <div class="data-key">viewIsLoading</div>
      <div class="data-value">{{ viewIsLoading }}</div>
    </li>

    <!-- Loading Status -->
    <li>
      <div class="data-key">authIsLoading</div>
      <div class="data-value">{{ authIsLoading }}</div>
    </li>

    <!-- Logged In Status -->
    <li>
      <div class="data-key">userIsLoggedIn</div>
      <div class="data-value">{{ userIsLoggedIn }}</div>
    </li>

    <!-- User Data Present -->
    <li>
      <div class="data-key">User Data Present</div>
      <div class="data-value">
        <span *ngIf="user">
            {{ user.id.length > 0 }}
        </span>
        <span *ngIf="!user">
            false
        </span>
      </div>
    </li>
    
  </ul>
</div>