
@import "assets/bower_components/simple-line-icons/css/simple-line-icons.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
	-webkit-transform: translate3d(0,0,0);
}

html, body, app-root, app-root > div {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	font-family: var(--lumo-font-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.side-by-side-list {
	padding: 0 2rem;
}

	.side-by-side-list > li {
		display: flex;
		margin: 0;
		padding: 1rem 0;
		border-bottom: 1px solid #eee;
	}

		.side-by-side-list .data-key {
			text-align: right;
			min-width: 100px;
			font-weight: 600;
			color: #000;
		}

		.side-by-side-list .data-value {
			flex-grow: 2;
			margin-left: 1rem;
			max-width: 90%;
			overflow-x: scroll;
			color: #666;
		}






		.status-item {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: .5rem 0 .5rem .5rem;
		}

		.circular-status-orb {
			width: 10px;
			height: 10px;
			border-radius: 100rem;
			border: 1px solid transparent;
			margin: 0 1rem;
		}

		.circular-status-orb.green {
			background-color: var(--lumo-success-color);
			border-color: var(--lumo-success-text-color);
		}

		.circular-status-orb.red {
			background-color: var(--lumo-error-color);
			border-color: var(--lumo-error-text-color);
		}


		.space-xs {
      padding: var(--lumo-space-xs);
    }

    .space-s {
      padding: var(--lumo-space-s);
    }

    .space-m {
      padding: var(--lumo-space-m);
    }

    .space-l {
      padding: var(--lumo-space-l);
    }

    .space-xl {
      padding: var(--lumo-space-xl);
		}
		
		.collapsed-hr {
			margin: 0 !important;
		}