<header class="app-header" [ngClass]="{'is-authenticated': isAuthenticated }">

	<!-- Header -->
	<div class="app-header__title">
		<h1>{{headerTitle}}</h1>
	</div>

	<!-- LEFT Menu Button - (Changes via HeaderStateService) -->
	<button [routerLink]="['/nav-menu']"
					*ngIf="buttonType == 'menu'"
					class="app-header__btn app-header__btn--primary icon-directions">
	</button>

	<!-- LEFT Back Button - (Changes via HeaderStateService) -->
	<button [routerLink]="['/micro-interactions']"
					*ngIf="buttonType == 'back'"
					class="app-header__btn app-header__btn--primary icon-arrow-left-circle">
	</button>

	<!-- RIGHT Button Icon - (Changes via HeaderStateService)
	<button [routerLink]="['/dashboard']"
					class="app-header__btn app-header__btn--secondary icon-settings">
	</button>
	-->

	<button mat-button [matMenuTriggerFor]="menu" class="app-header__btn app-header__btn--secondary"><div class=" icon-options-vertical"></div></button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item>Settings</button>
		<button mat-menu-item>Logout</button>
	</mat-menu>

	<nav class="view-navigation" *ngIf="secondaryNavItems.length">
		<a *ngFor="let item of secondaryNavItems">{{item}}</a>
	</nav>

</header>