
:host .app-header {
	width: 100%;
	z-index: 10;
	position: relative;
	background-color: #4A4E57;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	transition: all .175s ease-in-out;
}

:host .app-header__title {
	padding: 1rem 0;
}

:host .app-header__title h1 {
	margin: 0;
	color: #fff;
	padding: 2rem auto;
	font-size: 1.175em;
	font-weight: normal;
	text-align: center;
	text-transform: capitalize;
}

:host .app-header__btn {
	color: white;
	float: left;
	border: none;
	background: transparent;
	margin: 0;
	margin-top: -2.5725rem;
	padding: 0 .75rem;
	font-size: 1.25rem;
	cursor: pointer;
	cursor: hand;
}

:host .app-header__btn--secondary {
	float: right;
}

.view-navigation {
	width: 90%;
	margin: 0 auto;
	padding: 0;
	padding-bottom: .475rem;
	text-align: center;
	display: -webkit-flex;
	display: flex;
}

.view-navigation a {
	margin: .5em;
	font-size: .75em;
	font-weight: 400;
	line-height: 1;
	padding: .5em .05em .25em;
	color: rgba(255,255,255,.7);
	border-bottom: 2px solid transparent;
	-webkit-flex: 1;
	flex: 1;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
}

.view-navigation a.is-selected {
	border-radius: 100em !important;
	background: #fafafa !important;
	color: rgba(0,0,0,.7) !important;
}

.new-transaction-btn {
	display:inline-block;
	width:50px;
	height:50px;
	border-radius:100em;
	background:#E36F60;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	position:fixed;
	bottom:20px;
	border-bottom: 1px solid #B95649;
	right:20px;
}

.new-transaction-btn:after {
	content: '+';
	display: block;
	text-align: center;
	margin-top: .125em;
	font-weight: bold;
	color: white;
	font-size: 2em;
}
